In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def get_user_input():
    name = input("Enter your name: ")
    address = input("Enter your address: ")
    email = input("Enter your email: ")
    phone_number = input("Enter your phone Name No: ")
    number_of_pad = input("Enter the no of pads: ")
    type_of_Product = input("Enter your Product Type: ")
    
    return [name,address, email,phone_number,number_of_pad, type_of_Product]

def write_to_csv(data, filename='request_pad_data.csv'):
    with open(filename, mode='a', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(data)

def main():
    filename = 'request_pad_data.csv'
    try:
        with open(filename, mode='x', newline='') as file:
            writer = csv.writer(file)
            writer.writerow(["Name", "Address", "Email Id", "Phone Number","Number of Pads" "Type of Pad"])
    except FileExistsError:
        pass

    while True:
        user_data = get_user_input()
        write_to_csv(user_data)

        another = input("Do you want to enter another record? (yes/no): ").strip().lower()
        if another != 'yes':
            break

input_user = input("You want to add the data? ")
if input_user == 'yes': 
    if __name__ == "__main__":
        main()
elif input_user=="no":
    pass
else:
    print("Please inter the valid input")

You want to add the data? yes
Enter your name: ritika
Enter your address: varanasi
Enter your email: ritika@gmail.com
Enter your phone Name No: 3456432123
Enter the no of pads: 30
Enter your Product Type: regular
Do you want to enter another record? (yes/no): yes
Enter your name: anjana
Enter your address: jaunpur
Enter your email: anjana@gmail.com
Enter your phone Name No: 9994443332
Enter the no of pads: 21
Enter your Product Type: larg
Do you want to enter another record? (yes/no): yes
Enter your name: neha
Enter your address: utter predesh
Enter your email: neha@hotmail.com
Enter your phone Name No: 1234554324
Enter the no of pads: 30
Enter your Product Type: night time
Do you want to enter another record? (yes/no): yes
Enter your name: riya
Enter your address: kolkata
Enter your email: riya@gmail.com
Enter your phone Name No: 3498450945
Enter the no of pads: 50
Enter your Product Type: extra larg
Do you want to enter another record? (yes/no): no

In [3]:
data = pd.read_csv('request_pad_data.csv')

In [4]:
data

,Name,Address,Email Id,Phone Number,Number of PadsType of Pad
ritika,varanasi,ritika@gmail.com,3456432123,30,regular
anjana,jaunpur,anjana@gmail.com,9994443332,21,larg
neha,utter predesh,neha@hotmail.com,1234554324,30,night time
riya,kolkata,riya@gmail.com,3498450945,50,extra larg